<% content_for :title do %>watch.coop<% end %>
<% content_for :description do %>les sentinelles locales<% end %>

<!-- Top Slider -->
    <section id="top-section">
      <div class="top-section parallax-style">
        <div class="parallax-overlay">
          <div class="slider-txt-container">
            <div id="top-carousel" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
                <li data-target="#top-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#top-carousel" data-slide-to="1"></li>
                <li data-target="#top-carousel" data-slide-to="2"></li>
              </ol><!-- /.carousel-indicators -->
              <div class="carousel-inner">

                <div class="item active">
                  <h2 class="thin-txt">
                    vigilance environnementale locale
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    citoyenne et communautaire
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    en lien avec les associations
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#about" class="btn custom-btn angle-effect">En savoir plus</a>
                  </p>        
                </div><!-- /.item -->

                <div class="item">
                  <h2 class="thin-txt">
                    rapprocher <br>mobilisations personnelles et politiques globales
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    pour provoquer le changement
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#about" class="btn custom-btn angle-effect">En savoir plus</a>
                  </p>        
                </div><!-- /.item -->

                <div class="item">
                  <h2 class="thin-txt">
                    Nous recherchons
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    des testeurs et contributeurs
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    Rejoignez-nous !
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#contact" class="btn custom-btn angle-effect">Nous contacter</a>
                  </p> 
                </div><!-- /.item -->
              </div><!-- /.carousel-inner -->
              <a class="slide-nav left" href="#top-carousel" data-slide="prev"><span></span></a>
              <a class="slide-nav right" href="#top-carousel" data-slide="next"><span></span></a>
            </div><!-- /#top-carousel -->
          </div><!-- /.slider-txt-container -->
        </div><!-- /.parallax-overlay -->
      </div><!-- /.top-section -->
    </section><!-- /#top-section -->
    <!-- Top Slider End-->


<!-- About Section -->
    <section id="about">
      <div class="about-section"> 
        <div class="white-bg angular section-padding">
          <div class="top-angle">
          </div><!-- /.top-angle -->
          <div class="container">
            <div class="section-head">
              <h2 class="section-title">à propos</h2>
              <p class="section-description">
                Watch fournit des outils pour chaque personne ou organisation désireuse de débattre objectivement, quantifier, donner de la visibilité à un site environnemental. Grâce à notre plateforme, vous pouvez mobiliser votre réseau d'amis, témoigner et agir pour faire changer concrètement les lieux ou ressources qui vous tiennent à coeur.
              </p><!-- /.section-description -->
            </div><!-- /.section-head -->

            <div class="section-content">
              <div class="row">
                <div class="content-box col-md-8 from-bottom delay-200">
                  <div class="hex content-icon-hex pull-left">
                    <div class="content-icon">
                      <span aria-hidden="true" class="li_bulb"></span>
                    </div>
                  </div><!-- /.content-icon-hex -->
                  <h3 class="content-title">La vision</h3>
                  <p>
                    <strong>Notre objectif est de créer la plus grande communauté en ligne de sentinelles de l'environnement, le réseau &lt;watch&gt;.</strong>
                  </p>
                  <p>
                    Changement climatique, pollution des sols et des eaux, protection des espèces, alimentation, santé... Le grand public n'a jamais été autant sensibilisé aux enjeux environnementaux. Le réseau <watch> permet à tout un chacun de contribuer individuellement. Il donne l'opportunité de pouvoir améliorer les choses par la hiérarchisation des actions, la collecte de données pertinentes pour les collectivités et entreprises concernées et l'accroissement de la visibilité des problématiques environnementales locales.
                  </p>
                </div><!-- /.content-box -->

                <div class="media-content media-right col-md-4 from-bottom delay-600">
                  <div class="meida-container">
                    <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#about-img-carousel" data-slide-to="1"></li>
                        <li data-target="#about-img-carousel" data-slide-to="2"></li>
                      </ol><!-- /.carousel-indicators -->
                      <div class="carousel-inner">

                        <div class="item active">
                          <img src="images/about-carousel/01.jpg" alt="carousel image">
                        </div><!-- /.item -->
                        <div class="item">
                          <img src="images/about-carousel/02.jpg" alt="carousel image"> 
                        </div><!-- /.item -->
                        <div class="item">
                          <img src="images/about-carousel/03.jpg" alt="carousel image">
                        </div><!-- /.item -->
                        <div class="item">
                          <img src="images/about-carousel/04.jpg" alt="carousel image">
                        </div><!-- /.item -->
                      </div><!-- /.carousel-inner -->
                    </div><!-- /#about-img-carousel -->
                  </div><!-- /.meida-container -->
                </div><!-- /.media-content -->
              </div><!-- row -->
            </div><!-- /.section-content -->
          </div><!-- /.container -->
        </div><!-- /.white-bg -->

        <div class="gray-bg angular section-padding">
          <div class="top-angle"></div>
          <div class="container">
            <div class="row">
              <div class="section-content">
                <div class="media-content media-left col-md-4 from-bottom delay-200">
                  <div class="meida-container video-container">
                    <iframe src="https://www.youtube.com/embed/qxc_d9dnqEQ" frameborder="0" allowfullscreen></iframe>
                  </div><!-- /.meida-container -->
                </div><!-- /.media-content -->

                <div class="content-box col-md-8 from-bottom delay-600">
                  <div class="hex content-icon-hex pull-left">
                    <div class="content-icon">
                      <span aria-hidden="true" class="li_params"></span>
                    </div>
                  </div>
                  <h3 class="content-title">Notre Mission</h3>
                  <p>
                    <strong>Le projet &lt;watch&gt; a été fondé sur la conviction que dans la société de l'information du XXIème siècle, chacun peut provoquer le changement en informant et en mobilisant les autres. Les mouvements environnementaux ou sociaux sont construits sur des relations réelles entre des personnes.</strong>
                  </p>
                  <p>
                    Notre objectif est d'offrir non seulement un espace local d'expression accessible à tous, experts comme simples observateurs, mais aussi un outil de synthèse et de visibilité unique qui permettra d'extraire et de hiérarchiser les actions et problématiques environnementales à partir des observations de la communauté des sentinelles.
                  </p>
                </div><!-- /.content-box -->
              </div><!-- /.section-content -->
            </div><!-- /.row -->
          </div><!-- /.container -->

          <div class="bottom-angle">        
          </div><!-- /.bottom-angle -->

        </div><!-- ./gray-bg -->
      </div><!-- /.about-section -->
    </section><!-- /#about-->
    <!-- About Section End -->




    <!-- About Parallax Section -->
    <section id="about-parallax">
      <div class="about-parallax parallax-style">
        <div class="parallax-overlay section-padding">
          <div class="container">
            <h3 class="parallax-title">
              Donnez-nous votre avis !
            </h3><!-- /.parallax-title -->
            <p class="parallax-description">
              Nous mettons en place les moyens, aidez-nous à les affiner ou à lancer des sujets qui vous sont chers.
            </p><!-- /.parallax-description -->
           
            <p>
              <a href="#contact" class="btn donate-btn">Parlons-en :) <i class="fa fa-heart"></i></a>
            </p>
          </div><!-- /.container -->
        </div><!-- /.parallax-overlay -->
      </div><!-- /.about-parallax -->
    </section><!-- /#about-parallax -->
    <!-- About Parallax Section End -->





    


    

    <!--News Section-->
    <section id="news">
      <div class="news-section white-bg angular section-padding">
        <div class="top-angle">
        </div><!-- /.top-angle -->
        <div class="container">
          <div class="section-head">
            <h2 class="section-title">
              THEMES
            </h2><!-- /.section-title -->
            <p class="section-description">
              Qu'il s'agisse de problématiques environnementales ou de proposition d'actions pour l'amélioration du cadre de vie, les thèmes se déclinent en site locaux sur lesquels la communauté peut fournir des informations objectives qui seront centralisées et serviront d'arguments et de base d'action.
              Watch est participatif par essence, les thèmes sont créés par des membres individuels, des personnes physiques agissant seules ou dans le cadre de leur engagement associatif ou de leurs fonctions dans des organismes.
            </p>
          </div><!-- /.section-head -->




          <div class="row">
            <div class="news-container">

      <% @themes.each do |theme| %>
              <div class="news-item col-md-6 from-bottom delay-200">
                <img class="news-item-image" src="images/news/<%= theme.id %>.jpg" alt="<%= theme.name %>">
                <article class="news-article">
                  <div class="article-container">
                    <div class="post-meta">
                      <div class="meta-icon">
                        <span>
                          <i class="fa fa-picture-o"></i>
                        </span>
                      </div>

                      <time datetime="2016-09-12">12 Sept 2016</time>
                      <span class="name">
                        <a href="#">Fabrice P.</a>
                      </span>
                      <span>
                        <a href="#">24 Comments</a>
                      </span>
                    </div><!-- /.post-meta -->
                    <div class="post-details">
                      <h3 class="content-title"><%= theme.name %></h3>
                      <p>
                        <%= theme.short_description %>
                      </p>
                      <div>
                        <a href="blog-single.html" class="btn custom-btn angle-effect">Plus...</a>
                      </div>
                    </div><!-- /.post-details -->
                  </div><!-- /.article-container -->
                </article><!-- /.news-article -->
              </div><!-- /.news-item -->
      <% end %>

              


              <div class="view-all">
                <a href="/themes" class="btn custom-btn angle-effect">Tous les thèmes</a>
              </div>
            </div><!-- /.news-container -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.news-section -->
    </section><!-- /#news -->
    <!--News Section End-->





    

<!-- Contact Section -->
    <section id="contact">
      <div class="contact-section angular section-padding">
        <div class="top-angle">
        </div><!-- /.top-angle -->
        <div class="container">
          <div class="section-head">
            <h2 class="section-title">
              Contact
            </h2>
            <p class="section-description">
              Actuellement au stade de prototype, nous recherchons des testeurs et contributeurs afin de mettre au point la plate-forme avec nous.
              
              
            </p>
          </div><!-- /.section-head -->
        </div><!-- /.container -->

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-form-container">
                <h3 class="content-title">
                  Laissez nous un message
                </h3>

                <form class="contact-form" id="contact-form" action="email.php" method="post">
                  <div id="name_error" class="error">
                  <%= image_tag("email/error.png", :alt => "Error!")%>
                    Veuillez saisir votre nom.
                  </div><!-- /#name_error -->
                  <div class="input-container li_user">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nom" required>
                  </div><!-- /.input-container-->

                  <div id="email_error" class="error">
                    <%= image_tag("email/error.png", :alt => "Error!")%>
                    Veuillez saisir un E-mail valide.
                  </div><!-- /#email_error -->
                  <div class="input-container li_mail">
                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                  </div><!-- /.input-container -->

                  <div id="message_error" class="error">
                   <%= image_tag("email/error.png", :alt => "Error!")%>
                    Veuillez saisir votre message.
                  </div><!-- /#message_error -->
                  <div class="input-container li_pen">
                    <textarea class="form-control" id="message" name="message" cols="45" placeholder="Message" rows="6"></textarea>
                  </div><!-- /.input-container -->
                  
                  <div id="mail_success" class="success">
                  <%= image_tag("email/success.png", :alt => "Success!")%>
                    Votre message est en route vers nous :)
                  </div><!-- /#mail_success -->

                  <div id='mail_fail' class='error'>
                    <%= image_tag("email/error.png", :alt => "Error!")%> Nous sommes désolés une erreur s'est produite, veuillez réessayer ultérieurement..
                  </div><!-- /#mail_fail -->

                  <button type="submit" class="btn custom-btn angle-effect" id="send_message">Envoyer</button>
                </form><!-- /.contact-form -->

              </div><!-- /.contact-form-container -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
              <div class="contact-info">
                <h3 class="content-title">
                  En complément
                </h3>
                <p class="content-description">
                  Si vous oeuvrez dans une association environnementale locale ou plus globale, n'hésitez pas à nous contacter également, nous sommes toujours heureux de découvrir ce qui vous tient à coeur.

Nous souhaitons également associer des partenaires d'autres pays de la communauté européenne pour développer la dimension internationale du réseau.
                </p>
                <address> 
                  <ul class="contact-address">
                    <!--<li class="fa-map-marker">
                      13/2 Elizabeth St, Melbourne VIC 3000, Australia 
                    </li>
                    <li  class="fa-phone">
                      +61 3146 8728, +61 0987 6543
                    </li>-->
                    <li class="fa-envelope">
                      contact@watch.coop
                    </li>
                  </ul><!-- /.contact-address --> 
                </address>
              </div><!-- /.contact-info -->
            </div><!-- /.col-md-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="bottom-angle">
        </div><!-- /.bottom-angle -->
      </div><!-- /.contact-section -->
    </section><!-- /#contact -->
    <!-- Contact Section End -->





    
    







