<% content_for :title do %>watch.coop<% end %>
<% content_for :description do %>les sentinelles locales<% end %>

<!-- Top Slider -->
    <section id="top-section">
      <div class="top-section parallax-style">
        <div class="parallax-overlay">
          <div class="slider-txt-container">
            <div id="top-carousel" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
                <li data-target="#top-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#top-carousel" data-slide-to="1"></li>
                <li data-target="#top-carousel" data-slide-to="2"></li>
              </ol><!-- /.carousel-indicators -->
              <div class="carousel-inner">

                <div class="item active">
                  <h2 class="thin-txt">
                    vigilance environnementale locale
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    par la communauté
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    évaluation objective des dossiers locaux
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#" class="btn custom-btn angle-effect">En savoir plus</a>
                  </p>        
                </div><!-- /.item -->

                <div class="item">
                  <h2 class="thin-txt">
                    Associations ou particuliers  
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    mobilisation citoyenne
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    en faveur de l'environnement.
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#" class="btn custom-btn angle-effect">En savoir plus</a>
                  </p>        
                </div><!-- /.item -->

                <div class="item">
                  <h2 class="thin-txt">
                    Nous recherchons
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    des testeurs et contributeurs
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    Rejoignez-nous !
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#" class="btn custom-btn angle-effect">Nous contacter</a>
                  </p> 
                </div><!-- /.item -->
              </div><!-- /.carousel-inner -->
              <a class="slide-nav left" href="#top-carousel" data-slide="prev"><span></span></a>
              <a class="slide-nav right" href="#top-carousel" data-slide="next"><span></span></a>
            </div><!-- /#top-carousel -->
          </div><!-- /.slider-txt-container -->
        </div><!-- /.parallax-overlay -->
      </div><!-- /.top-section -->
    </section><!-- /#top-section -->
    <!-- Top Slider End-->


<!-- About Section -->
    <section id="about">
      <div class="about-section"> 
        <div class="white-bg angular section-padding">
          <div class="top-angle">
          </div><!-- /.top-angle -->
          <div class="container">
            <div class="section-head">
              <h2 class="section-title">à propos</h2>
              <p class="section-description">
                Watch est un projet participatif. Il s'agit d'un service en ligne pour les citoyens et les acteurs de l'environnement permettant l'évaluation objective de dossier locaux (urbanisme, pollution de l'eau, protection de la nature...) et la remontée d'information vers les pouvoirs publics et entités économiques.
              </p><!-- /.section-description -->
            </div><!-- /.section-head -->

            <div class="section-content">
              <div class="row">
                <div class="content-box col-md-8 from-bottom delay-200">
                  <div class="hex content-icon-hex pull-left">
                    <div class="content-icon">
                      <span aria-hidden="true" class="li_bulb"></span>
                    </div>
                  </div><!-- /.content-icon-hex -->
                  <h3 class="content-title">La vision</h3>
                  <p>
                    <strong>Notre objectif est de créer la plus grande communauté en ligne de sentinelles de l'environnement, le réseau &lt;watch&gt;.</strong>
                  </p>
                  <p>
                    Changement climatique, pollution des sols et des eaux, protection des espèces, alimentation, santé... Le grand public n'a jamais été autant sensibilisé aux enjeux environnementaux. Le réseau <watch> permet à tout un chacun de contribuer individuellement. Il donne l'opportunité de pouvoir améliorer les choses par la hiérarchisation des actions, la collecte de données pertinentes pour les collectivités et entreprises concernées et l'accroissement de la visibilité des problématiques environnementales locales.
                  </p>
                </div><!-- /.content-box -->

                <div class="media-content media-right col-md-4 from-bottom delay-600">
                  <div class="meida-container">
                    <div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#about-img-carousel" data-slide-to="1"></li>
                        <li data-target="#about-img-carousel" data-slide-to="2"></li>
                      </ol><!-- /.carousel-indicators -->
                      <div class="carousel-inner">

                        <div class="item active">
                          <img src="images/about-carousel/01.jpg" alt="carousel image">
                        </div><!-- /.item -->
                        <div class="item">
                          <img src="images/about-carousel/02.jpg" alt="carousel image"> 
                        </div><!-- /.item -->
                        <div class="item">
                          <img src="images/about-carousel/03.jpg" alt="carousel image">
                        </div><!-- /.item -->
                      </div><!-- /.carousel-inner -->
                    </div><!-- /#about-img-carousel -->
                  </div><!-- /.meida-container -->
                </div><!-- /.media-content -->
              </div><!-- row -->
            </div><!-- /.section-content -->
          </div><!-- /.container -->
        </div><!-- /.white-bg -->

        <div class="gray-bg angular section-padding">
          <div class="top-angle"></div>
          <div class="container">
            <div class="row">
              <div class="section-content">
                <div class="media-content media-left col-md-4 from-bottom delay-200">
                  <div class="meida-container video-container">
                    <iframe src="https://www.youtube.com/embed/qxc_d9dnqEQ" frameborder="0" allowfullscreen></iframe>
                  </div><!-- /.meida-container -->
                </div><!-- /.media-content -->

                <div class="content-box col-md-8 from-bottom delay-600">
                  <div class="hex content-icon-hex pull-left">
                    <div class="content-icon">
                      <span aria-hidden="true" class="li_params"></span>
                    </div>
                  </div>
                  <h3 class="content-title">Notre Mission</h3>
                  <p>
                    <strong>Le projet &lt;watch&gt; a été fondé sur la conviction que dans la société de l'information du XXIème siècle, chacun peut provoquer le changement en informant et en mobilisant les autres. Les mouvements environnementaux ou sociaux ont toujours été à l'origine construits sur des relations réelles entre des personnes.</strong>
                  </p>
                  <p>
                    Notre objectif est d'offrir non seulement un espace local d'expression accessible à tous, experts comme simples observateurs, mais aussi un outil de synthèse et de visibilité unique qui permettra d'extraire et de hiérarchiser les actions et problématiques environnementales à partir des observations de la communauté des sentinelles.
                  </p>
                </div><!-- /.content-box -->
              </div><!-- /.section-content -->
            </div><!-- /.row -->
          </div><!-- /.container -->

          <div class="bottom-angle">        
          </div><!-- /.bottom-angle -->

        </div><!-- ./gray-bg -->
      </div><!-- /.about-section -->
    </section><!-- /#about-->
    <!-- About Section End -->




    <!-- About Parallax Section -->
    <section id="about-parallax">
      <div class="about-parallax parallax-style">
        <div class="parallax-overlay section-padding">
          <div class="container">
            <h3 class="parallax-title">
              We are very Thankful
            </h3><!-- /.parallax-title -->
            <p class="parallax-description">
              You've helped us arise an overwhelming <br><span class="amount">$12,370,743</span> so far!
            </p><!-- /.parallax-description -->
           
            <p>
              <a href="#donate" class="btn donate-btn">Donate Now <i class="fa fa-heart"></i></a>
            </p>
          </div><!-- /.container -->
        </div><!-- /.parallax-overlay -->
      </div><!-- /.about-parallax -->
    </section><!-- /#about-parallax -->
    <!-- About Parallax Section End -->





    


    

    <!--News Section-->
    <section id="news">
      <div class="news-section white-bg angular section-padding">
        <div class="top-angle">
        </div><!-- /.top-angle -->
        <div class="container">
          <div class="section-head">
            <h2 class="section-title">
              News
            </h2><!-- /.section-title -->
            <p class="section-description">
              CHECK THE NEWS OF CHILDREN WHAT GOING ON THE WORLD WITH THEM. COLLECT CHARITY WEBSITE TEMPLATES TO BUILD YOUR OWN CHARITY ORGANIZATION.  
            </p>
          </div><!-- /.section-head -->

          <div class="row">
            <div class="news-container">
              <div class="news-item col-md-6 from-bottom delay-200">
                <img class="news-item-image" src="images/news/news-post-1.jpg" alt="News Post Image">
                <article class="news-article">
                  <div class="article-container">
                    <div class="post-meta">
                      <div class="meta-icon">
                        <span>
                          <i class="fa fa-film"></i>
                        </span>
                      </div>

                      <time datetime="2014-02-21">21 Feb'14</time>
                      <span class="name">
                        <a href="#">John Doe</a>
                      </span>
                      <span>
                        <a href="#">24 Comments</a>
                      </span>
                    </div><!-- /.post-meta -->
                    <div class="post-details">
                      <h3 class="content-title">Blog Post Title Goes Here</h3>
                      <p>
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. 
                      </p>
                      <div>
                        <a href="blog-single.html" class="btn custom-btn angle-effect">Read More</a>
                      </div>
                    </div><!-- /.post-details -->
                  </div><!-- /.article-container -->
                </article><!-- /.news-article -->
              </div><!-- /.news-item -->

              <div class="news-item col-md-6 from-bottom delay-600">
                <img class="news-item-image" src="images/news/news-post-2.jpg" alt="News Post Image">
                <article class="news-article">
                  <div class="article-container">
                    <div class="post-meta">
                      <div class="meta-icon">
                        <span>
                          <i class="fa fa-picture-o"></i>
                        </span>
                      </div>
                      <time datetime="2014-02-21">21 Feb'14</time>
                      <span class="name">
                        <a href="#">John Doe</a>
                      </span>
                      <span>
                        <a href="#">24 Comments</a>
                      </span>
                    </div><!-- /.post-meta -->
                    <div class="post-details">
                      <h3 class="content-title">Blog Post Title Goes Here</h3>
                      <p>
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. 
                      </p>
                      <div>
                        <a href="blog-single.html" class="btn custom-btn angle-effect">Read More</a>
                      </div>
                    </div><!-- /.post-details -->
                  </div><!-- /.article-container -->
                </article><!-- /.news-article -->
              </div><!-- /.news-item -->

              <div class="news-item col-md-6 from-bottom delay-200">
                <img class="news-item-image" src="images/news/news-post-3.jpg" alt="News Post Image">
                <article class="news-article">
                  <div class="article-container">
                    <div class="post-meta">
                      <div class="meta-icon">
                        <span>
                          <i class="fa fa-film"></i>
                        </span>
                      </div>
                      <time datetime="2014-02-21">21 Feb'14</time>
                      <span class="name">
                        <a href="#">John Doe</a>
                      </span>
                      <span>
                        <a href="#">24 Comments</a>
                      </span>
                    </div><!-- /.post-meta -->
                    <div class="post-details">
                      <h3 class="content-title">Blog Post Title Goes Here</h3>
                      <p>
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. 
                      </p>
                      <div>
                        <a href="blog-single.html" class="btn custom-btn angle-effect">Read More</a>
                      </div>

                    </div><!-- /.post-details -->
                  </div><!-- /.article-container -->
                </article><!-- /.news-article -->
              </div><!-- /.news-item -->

              <div class="news-item col-md-6 from-bottom delay-600">
                <img class="news-item-image" src="images/news/news-post-4.jpg" alt="News Post Image">
                <article class="news-article">
                  <div class="article-container">
                    <div class="post-meta">
                      <div class="meta-icon">
                        <span>
                          <i class="fa fa-headphones"></i>
                        </span>
                      </div>
                      <time datetime="2014-02-21">21 Feb'14</time>
                      <span class="name">
                        <a href="#">John Doe</a>
                      </span>
                      <span>
                        <a href="#">24 Comments</a>
                      </span>
                    </div><!-- /.post-meta -->
                    <div class="post-details">
                      <h3 class="content-title">Blog Post Title Goes Here</h3>
                      <p>
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. 
                      </p>
                      <div>
                        <a href="blog-single.html" class="btn custom-btn angle-effect">Read More</a>
                      </div>
                    </div><!-- /.post-details -->
                  </div><!-- /.article-container -->
                </article><!-- /.news-article -->
              </div><!-- /.news-item -->
              <div class="view-all">
                <a href="blog-page.html" class="btn custom-btn angle-effect">View All News</a>
              </div>
            </div><!-- /.news-container -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.news-section -->
    </section><!-- /#news -->
    <!--News Section End-->





    <!-- Upcoming Events Section -->
    <section id="upcoming-events">
      <div class="upcoming-events-section gray-bg angular section-padding">

        <div class="top-angle"></div>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="content-box">
                <div class="hex content-icon-hex hex-margin">
                  <div class="content-icon">
                    <span aria-hidden="true" class="li_calendar"></span>
                  </div><!-- /.content-icon -->
                </div><!-- /.content-icon-hex -->
                <h3 class="content-title">
                  Upcoming Event
                </h3>
                <p class="content-description"> 
                  We create events aiming to spear the voice for children and gather for support. Please update with our events and confirm your presence.
                </p>
              </div><!-- /.content-box -->

              <div class="slide-nav-container customNavigation">
                <a class="slide-nav left slide-left" href="#event-post-slider" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="slide-nav right slide-right" href="#event-post-slider" data-slide="next"><i class="fa fa-chevron-right"></i></a>
              </div><!-- /.slide-nav-container -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-8">
              <div class="row">
                <div class="event-container">
                  <div id="event-post-slider"  class="owl-carousel owl-theme">

                    <div class="item col-md-12">
                      <div class="event-content">
                        <h4 class="content-title">
                          <a href="#">Event Title Goes Here</a>
                        </h4><!-- /.event-title -->
                        <div class="event-date-time-place">
                          <time datetime="2014-06-30">
                            <span><i class="fa fa-clock-o"></i></span> Aguste 29, 2014 at 3pm to 6pm
                          </time>

                          <span><i class="fa fa-map-marker"></i></span> Place: Bronx NY, Unites States
                        </div> 
                        <div class="event-img">
                          <img src="images/event-post-image/post-1.jpg" alt="Event Post">
                        </div><!-- /.event-img -->
                      </div><!-- /.event-content  -->
                    </div><!-- /.item col-md-12 -->

                    <div class="item col-md-12">
                      <div class="event-content">
                        <h4 class="content-title">
                          <a href="#">Event Title Goes Here</a>
                        </h4><!-- /.event-title -->
                        <div class="event-date-time-place">
                          <time datetime="2014-06-30">
                            <span><i class="fa fa-clock-o"></i></span> Aguste 29, 2014 at 3pm to 6pm
                          </time>

                          <span><i class="fa fa-map-marker"></i></span> Place: Bronx NY, Unites States
                        </div> 
                        <div class="event-img">
                          <img src="images/event-post-image/post-2.jpg" alt="Event Post">
                        </div><!-- /.event-img -->
                      </div><!-- /.event-content  -->
                    </div><!-- /.item col-md-12 -->

                    <div class="item col-md-12">
                      <div class="event-content">
                        <h4 class="content-title">
                          <a href="#">Event Title Goes Here</a>
                        </h4><!-- /.event-title -->
                        <div class="event-date-time-place">
                          <time datetime="2014-06-30">
                            <span><i class="fa fa-clock-o"></i></span> Aguste 29, 2014 at 3pm to 6pm
                          </time>
                          
                          <span><i class="fa fa-map-marker"></i></span> Place: Bronx NY, Unites States
                        </div> 
                        <div class="event-img">
                          <img src="images/event-post-image/post-3.jpg" alt="Event Post">
                        </div><!-- /.event-img -->
                      </div><!-- /.event-content  -->
                    </div><!-- /.item col-md-12 -->

                    <div class="item col-md-12">
                      <div class="event-content">
                        <h4 class="content-title">
                          <a href="#">Event Title Goes Here</a>
                        </h4><!-- /.event-title -->
                        <div class="event-date-time-place">
                          <time datetime="2014-06-30">
                            <span><i class="fa fa-clock-o"></i></span> Aguste 29, 2014 at 3pm to 6pm
                          </time>
                          
                          <span><i class="fa fa-map-marker"></i></span> Place: Bronx NY, Unites States
                        </div> 
                        <div class="event-img">
                          <img src="images/event-post-image/post-4.jpg" alt="Event Post">
                        </div><!-- /.event-img -->
                      </div><!-- /.event-content  -->
                    </div><!-- /.item col-md-12 -->


                  </div><!-- /#event-post-slider -->

                </div><!-- /.event-container-->
              </div><!-- /.row -->
            </div><!-- /.com-md-8 -->
          </div><!-- /.row --> 
        </div><!-- /.container -->
        <div class="bottom-angle"></div>
      </div><!-- /.upcoming-events-section -->
    </section><!-- /.upcoming-events -->  
    <!--Upcoming Events Section End-->

<!-- Contact Section -->
    <section id="contact">
      <div class="contact-section angular section-padding">
        <div class="top-angle">
        </div><!-- /.top-angle -->
        <div class="container">
          <div class="section-head">
            <h2 class="section-title">
              Contact
            </h2>
            <p class="section-description">
              Actuellement au stade de prototype, nous recherchons des testeurs et contributeurs afin de mettre au point la plate-forme.
              
              
            </p>
          </div><!-- /.section-head -->
        </div><!-- /.container -->

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-form-container">
                <h3 class="content-title">
                  Laissez nous un message
                </h3>

                <form class="contact-form" id="contact-form" action="email.php" method="post">
                  <div id="name_error" class="error">
                  <%= image_tag("email/error.png", :alt => "Error!")%>
                    Veuillez saisir votre nom.
                  </div><!-- /#name_error -->
                  <div class="input-container li_user">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nom" required>
                  </div><!-- /.input-container-->

                  <div id="email_error" class="error">
                    <%= image_tag("email/error.png", :alt => "Error!")%>
                    Veuillez saisir un E-mail valide.
                  </div><!-- /#email_error -->
                  <div class="input-container li_mail">
                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                  </div><!-- /.input-container -->

                  <div id="message_error" class="error">
                   <%= image_tag("email/error.png", :alt => "Error!")%>
                    Veuillez saisir votre message.
                  </div><!-- /#message_error -->
                  <div class="input-container li_pen">
                    <textarea class="form-control" id="message" name="message" cols="45" placeholder="Message" rows="6"></textarea>
                  </div><!-- /.input-container -->
                  
                  <div id="mail_success" class="success">
                  <%= image_tag("email/success.png", :alt => "Success!")%>
                    Votre message est en route vers nous :)
                  </div><!-- /#mail_success -->

                  <div id='mail_fail' class='error'>
                    <%= image_tag("email/error.png", :alt => "Error!")%> Nous sommes désolés une erreur s'est produite, veuillez réessayer ultérieurement..
                  </div><!-- /#mail_fail -->

                  <button type="submit" class="btn custom-btn angle-effect" id="send_message">Envoyer</button>
                </form><!-- /.contact-form -->

              </div><!-- /.contact-form-container -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
              <div class="contact-info">
                <h3 class="content-title">
                  En complément
                </h3>
                <p class="content-description">
                  Si vous oeuvrez dans une association environnementale locale ou plus globale, n'hésitez pas à nous contacter également, nous sommes toujours heureux de découvrir ce qui vous tient à coeur.

Nous souhaitons également associer des partenaires d'autres pays de la communauté européenne pour développer la dimension internationale du réseau.
                </p>
                <address> 
                  <ul class="contact-address">
                    <!--<li class="fa-map-marker">
                      13/2 Elizabeth St, Melbourne VIC 3000, Australia 
                    </li>
                    <li  class="fa-phone">
                      +61 3146 8728, +61 0987 6543
                    </li>-->
                    <li class="fa-envelope">
                      contact@watch.coop
                    </li>
                  </ul><!-- /.contact-address --> 
                </address>
              </div><!-- /.contact-info -->
            </div><!-- /.col-md-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="bottom-angle">
        </div><!-- /.bottom-angle -->
      </div><!-- /.contact-section -->
    </section><!-- /#contact -->
    <!-- Contact Section End -->





    
    







