<p id="notice"><%= notice %></p>

 <div class="container blog-page-container">
      <div class="row">
        

         <section id="news">
              <div class="news-section white-bg angular section-padding">
                
                <div class="container">
                  <div class="section-head">
                    <h2 class="section-title">
                      THEMES
                    </h2><!-- /.section-title -->
                    <p class="section-description">
                      Qu'il s'agisse de problématiques environnementales ou de proposition d'actions pour l'amélioration du cadre de vie, les thèmes se déclinent en site locaux sur lesquels la communauté peut fournir des informations objectives qui seront centralisées et serviront d'arguments et de base d'action.
                      Watch est participatif par essence, les thèmes sont créés par des membres individuels, des personnes physiques agissant seules ou dans le cadre de leur engagement associatif ou de leurs fonctions dans des organismes.
                    </p>
                  </div><!-- /.section-head -->

                  <div class="row">
                    <div class="news-container">


                  <% @themes.each do |theme| %>
                      
                      <div class="news-item col-md-6 from-bottom delay-200">

                        <img class="news-item-image" src="/images/news/<%= theme.id %>.jpg" alt="<%= theme.name%>">
                       
                        <article class="news-article">
                          
                          <div class="article-container">
                            
                            <div class="post-meta">
                              <div class="meta-icon">
                                <span>
                                  <i class="fa fa-picture-o"></i>
                                </span>
                              </div>

                              <time><%= l(theme.created_at, :format => '%d %B %Y') %></time>
                              <span class="name">
                                <a href="#">Fabrice P.</a>
                              </span>
                              <span>
                                <a href="#">24 Comments</a>
                              </span>
                            </div><!-- /.post-meta -->
                            
                            <div class="post-details">
                              <h3 class="content-title"><%= theme.name %></h3>
                              <p>
                                <%= theme.short_description %>
                              </p>
                              <div>
                               <%= link_to 'Plus', theme, :class => "btn custom-btn angle-effect" %>  
                              </div>
                            </div><!-- /.post-details -->
                          
                          </div><!-- /.article-container -->
                        </article><!-- /.news-article -->
                      </div><!-- /.news-item -->
                <% end %>
            

                    </div><!-- /.news-container -->
                  </div><!-- /.row -->
                </div><!-- /.container -->
              </div><!-- /.news-section -->
            </section><!-- /#news -->
        <!--News Section End-->

    
  </div>
</div>




