<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme.name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @theme.short_description %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @theme.long_description %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
