
<div class="container blog-page-container">
      <div class="row">
        <div id="blog-section" class="col-md-8 blog-section">

<ul class="breadcrumb">
  <li><%= link_to('Accueil', controller: 'visitors', action: 'new') %></li>
  <li><%= link_to(@Theme.name, controller: 'themes', action: 'show', id: @Theme.id) %></li>
  <li><%= link_to(@site.location, controller: 'sites', action: 'show') %></li>
</ul>

<% 
  if @track.name.present?
    lat = @track.lat
    long = @track.long
  else
    lat = @site.latitude
    long = @site.longitude
  end
%>

          <!-- Post Box-->
          <div class="row post-box">
              <article class="post-content">
                      <h2 class="section-title"><%= @site.location %></h2>
                      <p class="section-description"><%= @site.description %></p>
                  <div class="col-md-5">
                      <!-- <h2 class="post-title" style="color: black;">
                          <%= @track.name %>
                      </h2> -->
                    
                       
 
                      <div id="gallery-container" class="gallery-container">
                        <div class="gallery-item element-from-bottom">
                                      <figure class="item">
                                        <img src="https://maps.googleapis.com/maps/api/streetview?size=300x250&location=<%= lat %>,<%= long %>&heading=151.78&pitch=-0.76&key=AIzaSyBnzbXu9-aqom3Yy96FnlGFL2ZFU3C5r8I" alt="<%= @track.name %>">
                                        <div class="item-link">
                                          <a class="link-hex" href="https://maps.googleapis.com/maps/api/streetview?size=600x500&location=<%= lat %>,<%= long %>&heading=151.78&pitch=-0.76&key=AIzaSyBnzbXu9-aqom3Yy96FnlGFL2ZFU3C5r8I" data-rel="prettyPhoto">
                                            <span>
                                              <i class="fa fa-plus"></i>
                                            </span>
                                          </a>
                                        </div><!-- /.item-link -->
                                        <figcaption class="item-description">
                                          <h4 class="item-title">
                                            <%= @track.name %>
                                          </h4><!-- /.item-title -->
                                          <p class="gallery-item-description">
                                             Nature : <%= @track.typology %> |
                                          <% if @track.side %>
                                            Côté : <%= @track.side %> 
                                          <% end %>
                                          </p><!-- /.gallery-item-description -->
                                        </figcaption>
                                      </figure>
                          </div><!-- /.gallery-item -->
                      </div><!-- /gallery-container -->
                  </div>
                <p class="post-meta">
                  Nature : <%= @track.typology %> | <% if @track.side %> Côté : <%= @track.side %> <% end %>
                  
                  <% if @track.CycleTrackComment.length != 0 %>
                   <br>
                   <strong>Notes moyennes</strong>  
                   <br> Vitesse 
                   <% @track.CycleTrackComment.average(:rating_speed).nil? ? avg_rating = 0 : avg_rating = @track.CycleTrackComment.average(:rating_speed).round %>
                    <% count = count2 = 1 %>
                        <% while (count <=  avg_rating) %>
                          <%= image_tag("star-on.png", style: "width: 16px !important") %>
                          <% count += 1 %>
                        <% end %>
                        <%while (count2 <= (5 -  avg_rating)) %>
                          <%= image_tag("star-off.png", style: "width: 16px !important") %>
                          <% 
                          count2 += 1
                        end%>
                        <br> Agrément 
                        <% @track.CycleTrackComment.average(:rating_pleasure).nil? ? avg_rating = 0 : avg_rating = @track.CycleTrackComment.average(:rating_pleasure).round %>
                    <% count = count2 = 1 %>
                        <% while (count <=  avg_rating) %>
                          <%= image_tag("star-on.png", style: "width: 16px !important") %>
                          <% count += 1 %>
                        <% end %>
                        <%while (count2 <= (5 -  avg_rating)) %>
                          <%= image_tag("star-off.png", style: "width: 16px !important") %>
                          <% 
                          count2 += 1
                        end%>
                        <br> Sécurité 
                        <% @track.CycleTrackComment.average(:rating_security).nil? ? avg_rating = 0 : avg_rating = @track.CycleTrackComment.average(:rating_security).round %>
                    <% count = count2 = 1 %>
                        <% while (count <=  avg_rating) %>
                          <%= image_tag("star-on.png", style: "width: 16px !important") %>
                          <% count += 1 %>
                        <% end %>
                        <%while (count2 <= (5 -  avg_rating)) %>
                          <%= image_tag("star-off.png", style: "width: 16px !important") %>
                          <% 
                          count2 += 1
                        end%>
                        <br>
                    <% if @track.CycleTrackComment.length != 0 %>
                        <%= @track.CycleTrackComment.length %> commentaire(s)
                    <% else %>
                      Pas de commentaires.
                    <% end %>
                  <% end %>
                <div id="googleMaps" class="google-map-container"></div><!-- /#google-map-->
                
              </article> <!-- /.post-content -->
                    

          </div><!-- /#post-box --><!-- /.row -->
          <!-- Post Box End -->

          <div class="comment-section" id="comments">
                  

                  <% @track.CycleTrackComment.each do |comment| %>
                        <div id="submited-comment">
                          <ol class="commentlist">
                            <li  class="comment">
                            <section id="comment-<%= comment.id %>">
                              <article>
                              <% comment_user = User.find(comment.users_id) %>
                                <div class="author-image col-md-3">
                                  <img class="img-circle" src="<%= comment_user.image %>?type=large" alt="Author Image"/>
                                </div><!-- /.author-hex -->

                                <div class="comment-content col-md-9">
                                  <p class="comment-meta">
                                    <%= comment_user.name %> <br> 
                                    Le <%= l(comment.created_at, :format => '%d %B %Y') %>
                                  </p><!-- /.comment-meta -->
                                  <div id="star container">
                                  Notes données à la portion :<br> Vitesse

                                  <% count = count2 = 1 %>
                                    <% comment.rating_speed.nil? ? rating = 0 : rating = comment.rating_speed
                                    while (count <= rating) %>
                                      <%= image_tag("star-on.png", style: "width: 16px !important") %>
                                      <% count += 1 %>
                                    <% end %>
                                    <%while (count2 <= (5 - rating)) %>
                                      <%= image_tag("star-off.png", style: "width: 16px !important") %>
                                      <% 
                                      count2 += 1
                                    end
                                    %>
                                    | Agrément

                                    <% count = count2 = 1 %>
                                    <% comment.rating_pleasure.nil? ? rating = 0 : rating = comment.rating_pleasure
                                    while (count <= rating) %>
                                      <%= image_tag("star-on.png", style: "width: 16px !important") %>
                                      <% count += 1 %>
                                    <% end %>
                                    <%while (count2 <= (5 - rating)) %>
                                      <%= image_tag("star-off.png", style: "width: 16px !important") %>
                                      <% 
                                      count2 += 1
                                    end
                                    %>

                                    | Sécurité


                                    <% count = count2 = 1 %>
                                    <% comment.rating_security.nil? ? rating = 0 : rating = comment.rating_security
                                    while (count <= rating) %>
                                      <%= image_tag("star-on.png", style: "width: 16px !important") %>
                                      <% count += 1 %>
                                    <% end %>
                                    <%while (count2 <= (5 - rating)) %>
                                      <%= image_tag("star-off.png", style: "width: 16px !important") %>
                                      <% 
                                      count2 += 1
                                    end
                                    %>

                                    </div> <!-- ./ star container -->



                                  <p><%= comment.text %></p>
                                  <% if current_user.present? %> <!-- <p><a class="btn custom-btn angle-effect" href="#">Répondre</a></p> --> <% end %>
                                </div><!-- /.comment-content -->
                                </section>                    
                              </article>
                            </li> <!-- /.comment -->
                           </ol> <!-- /.commentlist -->
                        </div> <!-- /#submited-commnet -->
                  <%end %>

            <!-- Leave Comment -->
            <% if current_user.present? %>
            <h3 class="title">Laisser un commentaire</h3>

              <div id="respond">
                <form action="/cycle_track_comments" class="comment-form" method="post" id="commentform">
                  <% if current_user.present? %>
                    <%= current_user.name %> | <%= current_user.email %>  
                  <% else %>
                    Anonyme 
                  <% end %>
                  <br><br><strong>Notez le parcours : </strong><br>
                  Vitesse 
                  <span class="rating">
                          <input type="radio" class="rating-input" id="rating_speed-input-1-5" name="rating_speed" value="5" />
                          <label for="rating_speed-input-1-5" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rrating_speed-input-1-4" name="rating_speed" value="4" />
                          <label for="rating_speed-input-1-4" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_speed-input-1-3" name="rating_speed" value="3" />
                          <label for="rating_speed-input-1-3" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_speed-input-1-2" name="rating_speed" value="2" />
                          <label for="rating_speed-input-1-2" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_speed-input-1-1" name="rating_speed" value="1" />
                          <label for="rating_speed-input-1-1" class="rating-star"></label>
                  </span>
                  | Agrément 
                  <span class="rating">
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-5" name="rating_pleasure" value="5" />
                          <label for="rating_pleasure-input-1-5" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-4" name="rating_pleasure" value="4" />
                          <label for="rating_pleasure-input-1-4" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-3" name="rating_pleasure" value="3" />
                          <label for="rating_pleasure-input-1-3" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-2" name="rating_pleasure" value="2" />
                          <label for="rating_pleasure-input-1-2" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-1" name="rating_pleasure" value="1" />
                          <label for="rating_pleasure-input-1-1" class="rating-star"></label>
                  </span>
                  | Sécurité
                   <span class="rating">
                          <input type="radio" class="rating-input" id="rating_security-input-1-5" name="rating_security" value="5" />
                          <label for="rating_security-input-1-5" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-4" name="rating_security" value="4" />
                          <label for="rating_security-input-1-4" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-3" name="rating_security" value="3" />
                          <label for="rating_security-input-1-3" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-2" name="rating_security" value="2" />
                          <label for="rating_security-input-1-2" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-1" name="rating_security" value="1" />
                          <label for="rating_security-input-1-1" class="rating-star"></label>
                  </span>
                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                  <%= tag(:input, :type => "hidden", :name => "track_id", :value => @track.id) %> 
                  <%= tag(:input, :type => "hidden", :name => "id_site", :value => @site.id) %> 
                  <textarea class="form-control" id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
                  <input name="submit" type="submit" id="submit" value="Poster" class="btn">
                </form><!-- /#commentform -->
              </div><!-- /#respond -->
              <% else %>
              

              <% end %>
         
            <!-- Leave Comment End -->
          </div><!-- /#comments -->
        </div><!-- /#blog-section --> 

<!-- SIDEBAR -------------------------------------------->

        <aside id="blog-sidebar" class="col-md-4 blog-sidebar">
            <h3 class="title">
             Laissez votre avis !
            </h3>
            <p class="widget-content">
              Vous pouvez sélectionner une portion dans la liste déroulante ou effectuer une recherche, pour chaque portion vous pouvez noter et commenter votre expérience personnelle.
            </p><!-- /.widget-content -->
          <!-- cycle tracks elements list -->
                <select id= "track_select" class="form-control inputstl" style="width: 95%">
                  <% 
                  @cycle_tracks.each do |ct| %>
                    <option value="<%= ct.id %>"><%= ct.name.to_s + " - " + ct.typology.to_s %></option>
                  <% end %>
                </select>
          <!-- /.cycle tracks elements list --> 
          <p class="widget-content">
              ou
            </p><!-- /.widget-content -->
          
        <%= form_tag("/searchct?id_site=" + @site.id.to_s, id: "search-form", method: "get", remote: true, class: "sidebar-search  clearfix") do %>
          <input class="form-control" type="text" name="search" id="search" placeholder="Trouver une portion" required>
          <span class="btn"><i class="fa fa-search"></i></span>
        <% end %>

         <div id="searchdisplay" name="searchdisplay"></div>


         <div class="widget clearfix">
            <h3 class="title">
              Les + commentées
            </h3>
            <% ct = CycleTrackComment.most_commented(5, @site.id)  %>
            <ul class="popular-post">
             <% ct.each do |c| %> 
              <li>
                <img src="https://maps.googleapis.com/maps/api/streetview?size=270x270&location=<%= CycleTrack.find(c[0]).lat %>,<%= CycleTrack.find(c[0]).long %>&heading=151.78&pitch=-0.76&key=AIzaSyBnzbXu9-aqom3Yy96FnlGFL2ZFU3C5r8I" alt="location image"> 
                <a href="?track_id=<%= c[0] %>"><%= CycleTrack.find(c[0]).name %></a><br>
                <div class="popular-post-comment"><%= c[1] %> Commentaires</div>
              </li>
              <% end %>
            </ul><!-- /.latest-post -->
          </div><!-- /.widget -->

           <div class="widget clearfix">
            <h3 class="title">
              Top contributeurs
            </h3>
            <% ct = CycleTrackComment.top_users(5, @site.id)  %>
            <ul class="popular-post">
             <% ct.each do |c| %> 
              <li>
              <% top_user = User.find(c[0]) %>
                <img class="img-circle" src="<%= top_user.image %>?type=small" alt="location image"> 
                <%= top_user.name %><br>
                <div class="popular-post-comment"><%= c[1] %> Commentaires</div>
              </li>
              <% end %>
            </ul><!-- /.latest-post -->
          </div><!-- /.widget -->


        </aside><!-- /#blog-sidebar -->   
      </div> <!-- /.row -->
    </div><!-- /.container -->


<script>
$('#track_select').change(function() {
  window.location = "?track_id=" + $(this).val();
});


// Search form.
  $('#search-form input').keyup(function () {
      if (document.getElementById("search").value.length < 4) return;
      $.get($("#search-form").attr("action"), $(this).serialize(), null, 'script');
      return false;
  });



  
</script>
<script type="text/javascript">
      /*----------- Google Map -  ----------------*/
        function initMap() {
            var mapDiv = document.getElementById('googleMaps');

            var map = new google.maps.Map(mapDiv, {
                center: {lat: <%= lat %>, lng: <%= long %>},
                zoom: 18,
                mapTypeControl: true,
                mapTypeControlOptions: {
                  style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                navigationControl: true,
                scrollwheel: false,
                streetViewControl: true
            });

            var <%= "chris"+@track.id.to_s %> = new google.maps.Marker({
                position: {lat: <%= lat %>, lng: <%= long %>},
                map: map
            });
            
          }
            
            function isMobile() { 
              return ('ontouchstart' in document.documentElement);
            }
        

              if (isMobile()) {
                options.draggable = false;
              }


            initMap();
   
</script>
<!--
<script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);
        
            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 16,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng( <%= lat %>, <%= long %>), 

                    // How you would like to style the map. 
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [{"featureType":"all","elementType":"geometry","stylers":[{"color":"#c1fcb8"},{"weight":"1.00"}]},{"featureType":"all","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"gamma":0.01},{"lightness":20}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"saturation":-31},{"lightness":-33},{"weight":2},{"gamma":0.8}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"hue":"#ff0000"}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"labels.text","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"all","stylers":[{"color":"#e0ffd3"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"saturation":20}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"lightness":20},{"saturation":-20}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#1dae90"}]},{"featureType":"road","elementType":"all","stylers":[{"weight":"2.00"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":"-20"},{"saturation":"-67"},{"gamma":"1.32"},{"color":"#57aa9f"},{"weight":"2.00"},{"visibility":"simplified"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"weight":"2.00"},{"color":"#b0d9a1"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"saturation":25},{"lightness":25},{"weight":"1.00"},{"color":"#f1ff8a"},{"visibility":"on"}]},{"featureType":"road","elementType":"labels","stylers":[{"weight":"2.12"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#b0d9a1"},{"weight":"2.63"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#f1ff8a"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"transit.line","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"}]},{"featureType":"transit.station","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.rail","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"lightness":-20},{"color":"#5ddad6"},{"visibility":"off"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#1b87da"},{"visibility":"on"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]}]
                };

                // Get the HTML DOM element that will contain your map 
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('googleMaps');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(<%= lat %>, <%= long %>),
                    map: map,
                    title: 'Watch'
                });
            }
</script>
-->


     
