<div class="container blog-page-container">
      <div class="row">

        <!-- About Section -->
        <section id="about">
              <div class="about-section"> 
              <div class="white-bg angular" style="padding-top: 100px; padding-bottom: 0px;">
              
                 <div class="container">
                    <div class="section-head">
                      <h2 class="section-title"><%= @site.location %></h2>
                      <p class="section-description"><%= @site.description %></p>
                        <div id="googleMaps" class="google-map-container"></div><!-- /#google-map-->
                      <!-- /.section-description -->

                            <select>
                            <% cycle_tracks = CycleTrack.all  
                            cycle_tracks.each do |ct| %>
                              <option value="<%= ct.id %>"><%= ct.name.to_s + " - " + ct.typology.to_s %></option>
                            <% end %>
                            </select>
                            

                    </div><!-- /.section-head -->
                         
                    </div><!-- /.container -->
                  </div><!-- /.whitebg -->  
                </div><!-- /.about-section -->
        </section><!-- /#about-->
            <!-- About Section End -->
  </div>
</div>


     
    <script type="text/javascript">
          /*----------- Google Map -  ----------------*/
            function initMap() {
                var mapDiv = document.getElementById('googleMaps');
                var map = new google.maps.Map(mapDiv, {
                    center: {lat: <%= @site.longitude %>, lng: <%= @site.latitude %>},
                    zoom: 15,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                      style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    navigationControl: true,
                    scrollwheel: false,
                    streetViewControl: true
                });

                <% cycle_tracks.each do |ct| %>
                var <%= "chris"+ct.id.to_s %> = new google.maps.Marker({
                    position: {lat: <%= ct.lat %>, lng: <%= ct.long %>},
                    map: map
                });
                <% end %>
              }
                
                function isMobile() { 
                  return ('ontouchstart' in document.documentElement);
                }
            

                  if (isMobile()) {
                    options.draggable = false;
                  }


                initMap();
       
    </script>