
<div class="container blog-page-container">
      <div class="row">
        <div id="blog-section" class="col-md-8 blog-section">

          <!-- Post Box-->
          <div class="row post-box">
              <article class="post-content">
                      <h2 class="section-title"><%= @site.location %></h2>
                      <p class="section-description"><%= @site.description %></p>
                      
                <h2 class="post-title" style="color: black;">
                  <%= @track.name %><div class="col-md-3">
                  <img src="https://maps.googleapis.com/maps/api/streetview?size=600x600&location=<%= @track.lat %>,<%= @track.long %>&heading=151.78&pitch=-0.76&key=AIzaSyBnzbXu9-aqom3Yy96FnlGFL2ZFU3C5r8I" alt="@track.name"/>
                </div>
                </h2>
                
                <p class="post-meta">
                  Nature : <%= @track.typology %> |
                  <% if @track.side %>
                    Côté : <%= @track.side %> 
                  <% end %>
                  
                  <% if @track.CycleTrackComment.length != 0 %>
                   <br>
                   Notes moyennes : <br> Vitesse 
                   <% @track.CycleTrackComment.average(:rating_speed).nil? ? avg_rating = 0 : avg_rating = @track.CycleTrackComment.average(:rating_speed).round %>
                    <% count = count2 = 1 %>
                        <% while (count <=  avg_rating) %>
                          <%= image_tag("star-on.png", style: "width: 16px !important") %>
                          <% count += 1 %>
                        <% end %>
                        <%while (count2 <= (5 -  avg_rating)) %>
                          <%= image_tag("star-off.png", style: "width: 16px !important") %>
                          <% 
                          count2 += 1
                        end%>
                        | Agrément 
                        <% @track.CycleTrackComment.average(:rating_pleasure).nil? ? avg_rating = 0 : avg_rating = @track.CycleTrackComment.average(:rating_pleasure).round %>
                    <% count = count2 = 1 %>
                        <% while (count <=  avg_rating) %>
                          <%= image_tag("star-on.png", style: "width: 16px !important") %>
                          <% count += 1 %>
                        <% end %>
                        <%while (count2 <= (5 -  avg_rating)) %>
                          <%= image_tag("star-off.png", style: "width: 16px !important") %>
                          <% 
                          count2 += 1
                        end%>
                        | Sécurité 
                        <% @track.CycleTrackComment.average(:rating_security).nil? ? avg_rating = 0 : avg_rating = @track.CycleTrackComment.average(:rating_security).round %>
                    <% count = count2 = 1 %>
                        <% while (count <=  avg_rating) %>
                          <%= image_tag("star-on.png", style: "width: 16px !important") %>
                          <% count += 1 %>
                        <% end %>
                        <%while (count2 <= (5 -  avg_rating)) %>
                          <%= image_tag("star-off.png", style: "width: 16px !important") %>
                          <% 
                          count2 += 1
                        end%>

                  
                  <% end %>

                </p><br>
                <div id="googleMaps" class="google-map-container"></div><!-- /#google-map-->
                <% if @track.CycleTrackComment.length != 0 %>
              <%= @track.CycleTrackComment.length %> commentaire(s)
            <% else %>
              Pas de commentaires.
            <% end %>
              </article> <!-- /.post-content -->
          </div><!-- /#post-box --><!-- /.row -->
          <!-- Post Box End -->

          <div class="comment-section" id="comments">
                  

                  <% @track.CycleTrackComment.each do |comment| %>
                        <div id="submited-comment">
                          <ol class="commentlist">
                            <li  class="comment">
                            <section id="comment-<%= comment.id %>">
                              <article>
                              <% comment_user = User.find(comment.users_id) %>
                                <div class="author-image col-md-3">
                                  <img class="img-circle" src="<%= comment_user.image %>?type=large" alt="Author Image"/>
                                </div><!-- /.author-hex -->

                                <div class="comment-content col-md-9">
                                  <p class="comment-meta">
                                    <%= comment_user.name %> <br> 
                                    Le <%= l(comment.created_at, :format => '%d %B %Y') %>
                                  </p><!-- /.comment-meta -->
                                  <div id="star container">
                                  Notes données à la portion :<br> Vitesse

                                  <% count = count2 = 1 %>
                                    <% comment.rating_speed.nil? ? rating = 0 : rating = comment.rating_speed
                                    while (count <= rating) %>
                                      <%= image_tag("star-on.png", style: "width: 16px !important") %>
                                      <% count += 1 %>
                                    <% end %>
                                    <%while (count2 <= (5 - rating)) %>
                                      <%= image_tag("star-off.png", style: "width: 16px !important") %>
                                      <% 
                                      count2 += 1
                                    end
                                    %>
                                    | Agrément

                                    <% count = count2 = 1 %>
                                    <% comment.rating_pleasure.nil? ? rating = 0 : rating = comment.rating_pleasure
                                    while (count <= rating) %>
                                      <%= image_tag("star-on.png", style: "width: 16px !important") %>
                                      <% count += 1 %>
                                    <% end %>
                                    <%while (count2 <= (5 - rating)) %>
                                      <%= image_tag("star-off.png", style: "width: 16px !important") %>
                                      <% 
                                      count2 += 1
                                    end
                                    %>

                                    | Sécurité


                                    <% count = count2 = 1 %>
                                    <% comment.rating_security.nil? ? rating = 0 : rating = comment.rating_security
                                    while (count <= rating) %>
                                      <%= image_tag("star-on.png", style: "width: 16px !important") %>
                                      <% count += 1 %>
                                    <% end %>
                                    <%while (count2 <= (5 - rating)) %>
                                      <%= image_tag("star-off.png", style: "width: 16px !important") %>
                                      <% 
                                      count2 += 1
                                    end
                                    %>

                                    </div> <!-- ./ star container -->



                                  <p><%= comment.text %></p>
                                  <% if current_user.present? %> <p><a class="btn custom-btn angle-effect" href="#">Répondre</a></p> <% end %>
                                </div><!-- /.comment-content -->
                                </section>                    
                              </article>
                            </li> <!-- /.comment -->
                           </ol> <!-- /.commentlist -->
                        </div> <!-- /#submited-commnet -->
                  <%end %>

            <!-- Leave Comment -->
            <% if current_user.present? %>
            <h3 class="title">Laisser un commentaire</h3>

              <div id="respond">
                <form action="/cycle_track_comments" class="comment-form" method="post" id="commentform">
                  <% if current_user.present? %>
                    <%= current_user.name %> | <%= current_user.email %>  
                  <% else %>
                    Anonyme 
                  <% end %>
                  <br><br><strong>Notez le parcours : </strong><br>
                  Vitesse 
                  <span class="rating">
                          <input type="radio" class="rating-input" id="rating_speed-input-1-5" name="rating_speed" value="5" />
                          <label for="rating_speed-input-1-5" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rrating_speed-input-1-4" name="rating_speed" value="4" />
                          <label for="rating_speed-input-1-4" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_speed-input-1-3" name="rating_speed" value="3" />
                          <label for="rating_speed-input-1-3" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_speed-input-1-2" name="rating_speed" value="2" />
                          <label for="rating_speed-input-1-2" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_speed-input-1-1" name="rating_speed" value="1" />
                          <label for="rating_speed-input-1-1" class="rating-star"></label>
                  </span>
                  | Agrément 
                  <span class="rating">
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-5" name="rating_pleasure" value="5" />
                          <label for="rating_pleasure-input-1-5" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-4" name="rating_pleasure" value="4" />
                          <label for="rating_pleasure-input-1-4" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-3" name="rating_pleasure" value="3" />
                          <label for="rating_pleasure-input-1-3" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-2" name="rating_pleasure" value="2" />
                          <label for="rating_pleasure-input-1-2" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_pleasure-input-1-1" name="rating_pleasure" value="1" />
                          <label for="rating_pleasure-input-1-1" class="rating-star"></label>
                  </span>
                  | Sécurité
                   <span class="rating">
                          <input type="radio" class="rating-input" id="rating_security-input-1-5" name="rating_security" value="5" />
                          <label for="rating_security-input-1-5" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-4" name="rating_security" value="4" />
                          <label for="rating_security-input-1-4" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-3" name="rating_security" value="3" />
                          <label for="rating_security-input-1-3" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-2" name="rating_security" value="2" />
                          <label for="rating_security-input-1-2" class="rating-star"></label>
                          <input type="radio" class="rating-input" id="rating_security-input-1-1" name="rating_security" value="1" />
                          <label for="rating_security-input-1-1" class="rating-star"></label>
                  </span>


                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                  <%= tag(:input, :type => "hidden", :name => "track_id", :value => @track.id) %> 
                  <%= tag(:input, :type => "hidden", :name => "id_site", :value => @site.id) %> 
                  <textarea class="form-control" id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
                  <input name="submit" type="submit" id="submit" value="Poster" class="btn">
                </form><!-- /#commentform -->
              </div><!-- /#respond -->
              <% else %>
              

              <% end %>
         
            <!-- Leave Comment End -->
          </div><!-- /#comments -->
        </div><!-- /#blog-section --> 

<!-- SIDEBAR -------------------------------------------->

        <aside id="blog-sidebar" class="col-md-4 blog-sidebar">
            <h3 class="title">
             Laissez votre avis !
            </h3>
            <p class="widget-content">
              Vous pouvez sélectionner une portion dans la liste déroulante ou effectuer une recherche, pour chaque portion vous pouvez noter et commenter votre expérience personnelle.
            </p><!-- /.widget-content -->
          <!-- cycle tracks elements list -->
                <select id= "track_select" class="form-control inputstl" style="width: 100%" onchange="">
                  <% cycle_tracks = CycleTrack.all  
                  cycle_tracks.each do |ct| %>
                    <option value="<%= ct.id %>"><%= ct.name.to_s + " - " + ct.typology.to_s %></option>
                  <% end %>
                </select>
          <!-- /.cycle tracks elements list --> 
          <p class="widget-content">
              ou
            </p><!-- /.widget-content -->
          
        <%= form_tag("/searchct", id: "search-form", method: "get", remote: true, class: "sidebar-search  clearfix") do %>
          <input class="form-control" type="text" name="search" id="search" placeholder="Trouver une portion" required>
          <button class="btn"><i class="fa fa-search"></i></button>
        <% end %>

         <div id="searchdisplay" name="searchdisplay"></div>


         <div class="widget clearfix">
            <h3 class="title">
              Les + commentées
            </h3>
            <% ct = CycleTrackComment.most_commented(5)  %>
            <ul class="popular-post">
             <% ct.each do |c| %> 
              <li>
                <img src="https://maps.googleapis.com/maps/api/streetview?size=270x270&location=<%= CycleTrack.find(c[0]).lat %>,<%= CycleTrack.find(c[0]).long %>&heading=151.78&pitch=-0.76&key=AIzaSyBnzbXu9-aqom3Yy96FnlGFL2ZFU3C5r8I" alt="location image"> 
                <a href="?track_id=<%= c[0] %>"><%= CycleTrack.find(c[0]).name %></a><br>
                <div class="popular-post-comment"><%= c[1] %> Commentaires</div>
              </li>
              <% end %>
            </ul><!-- /.latest-post -->
          </div><!-- /.widget -->




        </aside><!-- /#blog-sidebar -->   
      </div> <!-- /.row -->
    </div><!-- /.container -->


<script>
$('#track_select').change(function() {
  window.location = "?track_id=" + $(this).val();
});


// Search form.
  $('#search-form input').keyup(function () {
      if (document.getElementById("search").value.length < 4) return;
      $.get($("#search-form").attr("action"), $(this).serialize(), null, 'script');
      return false;
  });



  
</script>
     
<script type="text/javascript">
      /*----------- Google Map -  ----------------*/
        function initMap() {
            var mapDiv = document.getElementById('googleMaps');
            var map = new google.maps.Map(mapDiv, {
                center: {lat: <%= @track.lat %>, lng: <%= @track.long %>},
                zoom: 15,
                mapTypeControl: true,
                mapTypeControlOptions: {
                  style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                navigationControl: true,
                scrollwheel: false,
                streetViewControl: true
            });

            var <%= "chris"+@track.id.to_s %> = new google.maps.Marker({
                position: {lat: <%= @track.lat %>, lng: <%= @track.long %>},
                map: map
            });
            
          }
            


            
            function isMobile() { 
              return ('ontouchstart' in document.documentElement);
            }
        

              if (isMobile()) {
                options.draggable = false;
              }


            initMap();
   
</script>