<!-- Scroll to Top -->
		<div id="scroll-to-top">
			<div class="hex scroll-top">
				<span><i class="fa fa-chevron-up"></i></span>
			</div>
		</div><!-- /#scroll-to-top -->
<!-- Scroll to Top End-->	

<!-- Footer Section -->
		<footer id="footer-section">
			<div class="footer-section">
				<div class="container">
					<div class="footer-social-btn pull-right">
						<a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
						<a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
						<a href="#" class="github-btn"><i class="fa fa-github-alt"></i></a>
						<a href="#" class="vimeo-btn"><i class="fa fa-vimeo-square"></i></a>
						<a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
						<a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
						<a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
						<a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
						<div id="user-widget">
  							<% if current_user %>
    							Welcome <strong><%= current_user.name %></strong>!
    						<%= link_to "Sign out", signout_path, id: "sign_out" %>
  							<% else %>
    						<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  							<% end %>
						</div>
						<div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
						</div>
					</div><!-- /.footer-social-btn -->
					<div class="copyrights pull-left">
						&copy; <a href="#"><%= content_for?(:title) ? yield(:title) : "Watch" %></a>&nbsp;<%=  Time.now.year %>, All Rights Reserved, 
					</div><!-- /.copyrights -->

					
				</div><!-- /.container -->
			</div><!-- /.footer-section -->
		</footer><!-- /#footer-section -->
<!-- Footer Section End -->



		<script type="text/javascript">

			/*---------------------- Current Menu Item -------------------------*/
			jQuery(document).ready(function($) {
				"use strict";

				$('#main-menu #headernavigation').onePageNav({
					currentClass: 'active',
					changeHash: false,
					scrollSpeed: 750,
					scrollThreshold: 0.5,
					scrollOffset: 60,
					filter: '',
					easing: 'swing'
				}); 

				$('#event_time_countdown').countDown({
					targetDate: {
						'day': 23,
						'month': 9,
						'year': 2014,
						'hour': 0,
						'min': 0,
						'sec': 0
					},
					omitWeeks: true
				});


				/*----------- Google Map - with support of gmaps.js ----------------*/
				function isMobile() { 
					return ('ontouchstart' in document.documentElement);
				}

				function init_gmap() {
					if ( typeof google == 'undefined' ) return;
					var options = {
						center: [23.709921, 90.407143],
						zoom: 15,
						mapTypeControl: true,
						mapTypeControlOptions: {
							style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
						},
						navigationControl: true,
						scrollwheel: false,
						streetViewControl: true
					}

					if (isMobile()) {
						options.draggable = false;
					}

					$('#googleMaps').gmap3({
						map: {
							options: options
						},
						marker: {
							latLng: [23.709921, 90.407143],
							options: { icon: 'assets/images/mapicon.png' }
						}
					});
				}

				init_gmap();

			});
		</script>