<!-- Main Menu -->
		<div class="main-menu-container navbar-fixed-top">
			<div id="main-menu" class="navbar navbar-default blog-page" role="navigation">
				<div class="container">
					
					<div class="navbar-header">
						<!-- responsive navigation -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars"></i>
						</button> <!-- /.navbar-toggle -->
						<!-- Logo -->
						<h1>
							<a class="navbar-brand" href="<%= root_url%>">
								<%= image_tag("logo.png", :alt => "logo watch.coop", :class => "logo") %>
							</a><!-- /.navbar-brand -->
						</h1>
					</div> <!-- /.navbar-header -->

					<nav class="collapse navbar-collapse">
						<%= render 'layouts/navigation_links' %>
					<% if current_user %>
    									<strong style="font-size: 12px"><%= current_user.name.split[0] %></strong>
    									<a href="/signout"><%= image_tag current_user.image, :alt => "profile pic", :style => "width:24px;height:24px;" %></a>
    									<% else %>
    									<a href="/login" class="donate" style="font-size: 14px">Connexion</a>
    					<% end %>
					</nav> <!-- /.navbar-collapse  -->
						
				</div> <!-- /.container -->
			</div><!-- /#main-menu -->

		</div><!-- /.main-menu-container -->
<!-- Main Menu End -->
