<!DOCTYPE html>
<html lang="fr">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Watch" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Watch" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'modernizr' %>
    
    <%= csrf_meta_tags %>
    <!-- favicon --> 
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
        <%= yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
