<!DOCTYPE html>
<html lang="fr">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Watch" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Watch" %>">
    <meta name="keywords" content="nonprofit, community, citizens, cooperation, environment, ecology">
    <meta name="author" content="watch.coop">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'modernizr' %>
    <!-- Include jquery.min.js plugin -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Include jquery.min.js plugin -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <!-- Google Maps Script  -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBnzbXu9-aqom3Yy96FnlGFL2ZFU3C5r8I"></script>     
    

    <%= csrf_meta_tags %>
    <!-- favicon --> 
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>

<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=401175470620";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- ./Facebook SDK -->

  
  <% if controller_name == "visitors" %>
    <%= render 'layouts/navigation_home' %>
  <% else %> 
    <% unless controller_name == "pages"%>
    <%= render  'layouts/navigation' %>
  <% end %>
  <% end %>

    
    <%= render 'layouts/messages' %>
        <%= yield %>
        
    <%= render 'layouts/footer' %>

    
    <!-- Include email-validation.js Email Validator -->
    <script src="/js/email-validation.js"></script> 

    <script src="/js/jquery.visible.min.js"></script>

    <!-- included plugins inside  plugins.js -->
    <script src="/js/plugins.js"></script>

    <!-- included plugins inside  plugins.js -->
    <script src="/js/jquery.parallax.js"></script>        

    <!-- Include functions.js -->
    <script src="/js/functions.js"></script>

<% if controller_name == "visitors" %>
    <%= render 'layouts/current_menu_script' %>
<% end %>

<script type="text/javascript">
    window.doorbellOptions = {
        strings: {
            'feedback-button-text': 'Commentaires',

            'title': 'Commentaires, idées, bug...',
            'intro-text': 'Un bug rencontré ? une idée à partager ?', // Empty by default
            'feedback-textarea-placeholder': 'Commentaire ou suggestion...',
            'feedback-label': 'Votre message',
            'email-input-placeholder': 'Adresse e-mail',
            'email-label': 'Votre adresse',
            'attach-a-screenshot': 'Joindre une copie d\'écran',
            'submit-button-text': 'Envoyer',
            'add-attachments-label': '',

            'message-success' : 'Commentaire envoyé ! Merci :o)',
            'message-error-missing-email': 'Votre adresse e-mail est requise.',
            'message-error-invalid-email': 'Adresse e-mail invalide.',
            'message-error-missing-message': 'Message requis.',
            'message-error-message-too-short': 'Message trop court !'
        },
        appKey: 'YJixvItxTzsuxCR9hOsnfEMjA51uAIcgD9MxwEdqHGOBFIR9iQM8ZsuTPVEr3mro'
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/4595?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
</script>

  </body>
</html>
