<!DOCTYPE html>
<html lang="fr">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Watch" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Watch" %>">
    <meta name="keywords" content="nonprofit, community, citizens, cooperation, environment, ecology">
    <meta name="author" content="watch.coop">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'modernizr' %>
    <!-- Include jquery.min.js plugin -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Include jquery.min.js plugin -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <!-- Google Maps Script  -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBnzbXu9-aqom3Yy96FnlGFL2ZFU3C5r8I"></script>     
    

    <%= csrf_meta_tags %>
    <!-- favicon --> 
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
  
  <% if controller_name == "visitors" %>
    <%= render 'layouts/navigation_home' %>
  <% else %> 
    <% unless controller_name == "pages"%>
    <%= render  'layouts/navigation' %>
  <% end %>
  <% end %>

    
    <%= render 'layouts/messages' %>
        <%= yield %>
        
    <%= render 'layouts/footer' %>

    
    <!-- Include email-validation.js Email Validator -->
    <script src="/js/email-validation.js"></script> 

    <script src="/js/jquery.visible.min.js"></script>

    <!-- included plugins inside  plugins.js -->
    <script src="/js/plugins.js"></script>

    <!-- included plugins inside  plugins.js -->
    <script src="/js/jquery.parallax.js"></script>        

    <!-- Include functions.js -->
    <script src="/js/functions.js"></script>

<% if controller_name == "visitors" %>
    <%= render 'layouts/current_menu_script' %>
<% end %>

  </body>
</html>
